/* Css Selector */
/* using tag name */

body{
    background-color: darkred;
    text-align: center;
}
p{
    text-align: left;
    border: 3px double rgb(45, 3, 250);
}
h1{
    color:green ;
}

/* using id */

#c1{
    color: blue;
}
/* using class */
.b1{
    color: orangered;
}
